<h1>My Tasks</h1>

<ul>
    <%@tasks.each do |task| %>
  <li  style="list-style: none;"> <%=link_to task.title, task_path(task)%>
    <%=link_to "😇😇😇", destroy_path(task), method: :delete %></li>
  <% end %>
  <br>
  <br>
  <br>
  <p><%= link_to "➕ Create a new task ➕", tasks_new_path %></p>
</ul>

